#!/bin/bash
#
# The prepare-commit-msg hook is called with the name of the file that contains
# the commit message plus the argument list supplied to csvn.
#
# For instance: Say the commit message file is called "msg" and the
# user executed "./csvn.sh commit a b c", prepare-commit-msg is called thusly:
#
#   hooks/prepare-commit-msg msg a b c
#
# An example hook script to prepare the commit log message.
# Called by csvn with the name of the file that has the
# commit message, followed by the description of the commit
# message's source.  The hook's purpose is to edit the commit
# message file.  If the hook fails with a non-zero status,
# the commit is aborted.
#
# To enable this hook, rename this file to "prepare-commit-msg".
#
# The variable SVN is set to the real svn program, and can be used as
# such (this is inherited from csvn.sh).

# The second example adds a Signed-off-by line to the message, that can
# still be edited.


# Shift off the commit message file
MSG="$1"
shift

# NOTE: diff is not compatible with commit arguments, except filenames.
#       any options supplied to commit should be weeded out here...

# Nice diffstat in commit message
DIFF=$($SVN diff "$@")
ERR=$?
if test ! $ERR -eq 0; then
    echo
    echo "Hmmm... Something went wrong executing subversion. Here are"
    echo "the variables involved. Check them to make sure they are in"
    echo "order:"
    echo
    echo "  SVN=$SVN"
    echo "  MSG=$MSG"
    echo
    exit $ERR;
fi
echo $DIFF | diffstat >> $MSG

# This adds a Signed-off-by line to the message. It's an ugly hack
# that looks into ~/.subversion/auth/svn.simple to locate the username
# section of the file that contains the name of the current repo. This
# is so far the "easiest" way to find the author.
REPO=$($SVN info |grep ^URL | sed -e 's|URL: .*\://\([^/]*\).*|\1|')
f=$(find ~/.subversion/auth/svn.simple -type f -exec grep -l "$REPO" {} \;)
SOB=$(grep -A 2 "username" $f | tail -n1)
echo -e "\n Signed-off-by: $SOB" >> $MSG

# Alternatively, if username == `whoami`, do this:
# echo " Signed-off-by: $(whoami)" >> MSG

